<section class="tutor" data-scroll-section="tutor">
  <div class="tutor__container">
    <div class="tutor__wrapper">
      <div class="tutor__pic">
        <img src="@img/tutor/image.jpg" alt="Серый ромб в черном квадратк">
      </div>
      <div class="tutor__info">
        <h2 class="tutor__title">Купить NFT очень просто</h2>
        <p class="tutor__text">В нашей галерее вы покупаете pre-NFT. Это ваучер, резервирующий NFT-картину. Для покупки
          pre-NFT нужна только банковская карта, Web3-кошелёк и криптовалюта не понадобятся. Этот упрощённый вариант
          покупки NFT подойдёт всем, особенно тем, кто ещё не начал разбираться в технологии Web3. Обменять свой pre-NFT
          на NFT-токен можно в любой момент при наличии у вас криптокошелька.</p>
      </div>
    </div>
  </div>
</section>