* {
	margin: 0;
	padding: 0;
	border: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font-family: inherit;
	color: inherit;
	background-color: transparent;
}

ul,
li {
	list-style: none;
}

.page {
	overflow-x: hidden;
	&_lock {
		overflow-y: hidden;
	}
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: $font-family;
}
.main {
	flex-grow: 1;
}

[class*="__container"] {
	max-width: 1390px;
	padding: 0 15px;
	margin: 0 auto;
}
