<article class="@@class article-works">
  <img src="@@image" alt="Картинка последней работы" class="article-works__pic">
  <button class=" article-works__btn tooltip-btn" data-tippy-content='Оплачивайте pre-NFT банковской картой. Вам не нужен web3
      кошелёк и
      криптовалюта. В любой момент
      вы сможете обменять приобретённый pre-NFT на NFT'>pre-NFT</button>
  <button class="article-works__btn tooltip-btn" data-tippy-content="Это картинка))">картина</button>
  <div class="article-works__bottom">
    <span class="article-works__name">Дино</span>
    <div class="article-works__line">
      <span class="article-works__price">1500 ₽</span>
      <button class="article-works__count" data-tippy-content='Эта картина оцифрована в количестве 1000 токенов. 10
      токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽.'>0 / 1000</button>
    </div>
    <div class="article-works__progress">
      <div class="article-works__progress-line"></div>
    </div>
    <span class="article-works__author">Олег Орлов</span>
  </div>
</article>