.informaton {
	margin-top: 60px;
	@media (max-width: 767.98px) {
		margin-top: 30px;
	}

	&__body {
		display: flex;
		justify-content: space-between;
		gap: 40px;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
		}
	}

	&__left {
		flex: 0 2 700px;
		@media (max-width: 991.98px) {
			flex: 1 1 100%;
		}
	}

	&__left-title {
		margin-bottom: 40px;
		font-weight: 500;
		font-size: 55px;
		line-height: 105.9%;
		color: $color-black;
		@media (max-width: 576.98px) {
			font-size: 36px;
		}
	}

	&__left-row {
		display: flex;
		margin-bottom: 40px;
		@media (max-width: 576.98px) {
			display: block;
		}
	}

	&__left-row-box {
		&:first-child {
			padding-right: 30px;
			border-right: 2px solid rgba(0, 0, 0, 0.06);
			@media (max-width: 576.98px) {
				padding: 0;
				border: none;
			}
		}
		&:last-child {
			padding-left: 30px;
			@media (max-width: 576.98px) {
				margin-top: 16px;
				padding: 0;
			}
		}
	}

	&__left-row-title {
		display: block;
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: rgba(0, 0, 0, 0.5);
	}

	&__left-row-name {
		display: block;
		padding: 8px 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: $color-black;
		box-shadow: 0px 10px 12px rgba(0, 0, 0, 0.07);
		border-radius: 13px;
		@media (max-width: 576.98px) {
			display: inline-block;
		}
	}

	&__left-progress {
		margin-bottom: 40px;
	}

	&__left-progress-title {
		display: inline-block;
		margin-bottom: 12px;
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: $color-black;
	}

	&__left-progress-line {
		height: 12px;
		border: 1px solid #0c0c0c;
		border-radius: 8px;
		background: rgba(255, 255, 255, 0.49);
		backdrop-filter: blur(2px);
	}

	&__left-progress-line-fill {
		height: 100%;
		width: 80%;
		background: #0c0c0c;
		border-radius: 8px;
	}

	&__left-text {
		padding-bottom: 40px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		border-bottom: 1px solid rgba(0, 0, 0, 0.13);
		color: $color-black;
	}

	&__left-paragraph {
		&:not(:last-child) {
			margin-bottom: 10px;
		}
	}

	&__left-paragraph-list {
		margin-top: 10px;
		padding-left: 20px;
		list-style: disc;
	}

	&__left-paragraph-list-item {
		list-style: disc;
	}

	&__left-links {
		margin-top: 30px;
	}

	&__left-links-item {
		display: flex;
		gap: 12px;
		opacity: 1;
		transition: opacity 0.2s ease-out;
		&:hover,
		&:active {
			opacity: 0.7;
		}
		&:not(:last-child) {
			margin-bottom: 16px;
		}
	}

	&__left-links-item-link {
		font-weight: 700;
		font-size: 16px;
		line-height: 24px;
		color: #464646;
	}

	&__right {
		flex: 0 1 574px;
		align-self: flex-start;
		padding: 30px;
		border: 1px solid rgba(0, 0, 0, 0.13);
		border-radius: 15px;
		background: #ffffff;
		@media (max-width: 576.98px) {
			padding: 20px 16px;
		}
	}

	&__right-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		gap: 15px;
		margin-bottom: 20px;
	}

	&__right-row-price {
		font-weight: 700;
		font-size: 48px;
		line-height: 105.9%;
		color: $color-black;
		@media (max-width: 576.98px) {
			font-size: 20px;
		}
	}

	&__right-row-things {
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		color: $color-black;
		@media (max-width: 576.98px) {
			font-size: 14px;
		}
	}

	&__right-form {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 16px;
	}

	&__right-form-tooltip {
		position: absolute;
		top: 20px;
		right: -25px;
		cursor: pointer;
	}

	&__right-form-item {
		padding: 16px;
		width: 100%;
		height: 59px;
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		background: #ffffff;
		border: 1px solid rgba(0, 0, 0, 0.13);
		border-radius: 11px;
		@media (max-width: 576.98px) {
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__right-form-select-wrapper {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			right: 12px;
			top: 50%;
			height: 5px;
			width: 10px;
			transform: translateY(-50%);
			background: url(../../../../img/icons/arrow-select.svg);
		}
	}

	&__right-form-select {
		padding-right: 25px;
		appearance: none;
		-webkit-appearance: none;
		-moz-appearance: none;
		cursor: pointer;
	}

	&__right-form-input {
		position: relative;
	}

	&__right-form-input-btns {
		position: absolute;
		right: 0;
		top: 0;
		border-left: 1px solid rgba(0, 0, 0, 0.13);
	}

	&__right-form-input-btns-btn {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 28.5px;
		width: 30px;
		cursor: pointer;
		&:first-child {
			border-bottom: 1px solid rgba(0, 0, 0, 0.13);
		}
	}

	&__right-form-btn {
		width: 100%;
		padding: 16px;
		text-align: center;
		font-weight: 700;
		font-size: 18px;
		line-height: 27px;
		border-radius: 11px;
		background: #0c0c0c;
		color: #fff;
		@media (max-width: 576.98px) {
			font-size: 16px;
			line-height: 24px;
		}
	}

	&__right-links {
		display: flex;
		flex-direction: column;
		gap: 8px;
	}

	&__right-links-link {
		display: block;
		font-weight: 500;
		font-size: 16px;
		line-height: 24px;
		text-decoration-line: underline;
		color: rgba(0, 0, 0, 0.5);
		@media (max-width: 576.98px) {
			font-size: 14px;
			line-height: 21px;
		}
	}
}
