<article class="@@class article-row-fonds">
  <a href="#!" class="article-row-fonds__pic">
    <img src="@@image" alt="nft картинка фонда">
    <div class="article-row-fonds__overlay">
      <button class="article-row-fonds__btn tooltip-btn" data-tippy-content='Оплачивайте pre-NFT банковской картой. Вам не нужен web3
      кошелёк и
      криптовалюта. В любой момент
      вы сможете обменять приобретённый pre-NFT на NFT' role="tooltip">pre-NFT</button>
      <button class="article-row-fonds__btn tooltip-btn" data-tippy-content='Это картинка &#128513;' role="tooltip">
        картина</button>
      <span class="article-row-fonds__name">Дино</span>
    </div>
  </a>
  <div class="article-row-fonds__bottom">
    <div class="article-row-fonds__line">
      <span class="article-row-fonds__price">1500 ₽</span><span class="article-row-fonds__author">Олег
        Орлов</span>
    </div>
    <div class="article-row-fonds__progress">
      <div class="article-row-fonds__progress-line"></div>
    </div>
    <div class="article-row-fonds__count"><button class="article-row-fonds__count-text" data-tippy-content='Эта картина оцифрована в количестве 1000 токенов. 10
      токенов по цене 1500 ₽ и 1 токен по цене 50 000 ₽.' role="tooltip">0 / 1000</button></div>
  </div>
</article>