<div class="modal" data-modal='modal-share'>
  <div class="modal__wrapper">

    <div class="modal__pic">
      <picture>
        <source srcset="@img/modal/img-mobile.png" media="(max-width: 767.98px)">
        <img src="@img/modal/img-desktop.png" alt="">
      </picture>
    </div>
    <div class="modal__info">
      <div class="modal__title">Пожалуйста, расскажите о нас</div>
      <p class="modal__text">Популяризация благотворительности – одна из главных задач нашего проекта. Мы будем крайне
        признательны, если вы поддержите эту идею и расскажете о галерее в своих социальных сетях.</p>
      <div class="modal__row">
        <div class="modal__url" data-copy-box="copy">https://tokendobra.ru/main</div>
        <button class="modal__btn btn" data-copy-btn="copy"><img src="@img/icons/copy.svg" aria-hidden="true" alt="">
          Копировать</button>
      </div>
    </div>
  </div>
</div>