.modal {
	position: fixed;
	inset: 0;
	z-index: 101;
	display: grid;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	overflow-y: auto;
	background: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transition: all 0.2s ease-out;
	&.open {
		opacity: 1;
		visibility: visible;
	}
	&__wrapper {
		position: relative;
		display: flex;
		align-items: center;
		column-gap: 40px;
		row-gap: 20px;
		max-width: 904px;
		padding: 10px;
		margin: 30px 15px;
		border-radius: 15px;
		background-color: #fff;
		transform: scale(0) rotate(180deg);
		transition: all 0.3s ease-out;
		@media (max-width: 767.98px) {
			flex-direction: column;
			padding: 30px 0;
		}
	}

	&.open &__wrapper {
		transform: scale(1) rotate(0deg);
	}

	&__close {
		position: absolute;
		top: 18px;
		right: 18px;
		z-index: 90;
		cursor: pointer;
	}

	&__pic {
		flex: 0 0 auto;
	}

	&__info {
		padding-right: 30px;
		@media (max-width: 767.98px) {
			padding: 0 10px;
		}
	}

	&__title {
		margin-bottom: 12px;
		font-weight: 500;
		font-size: 24px;
		line-height: 36px;
		color: $color-black;
		@media (max-width: 576.98px) {
			font-size: 20px;
			line-height: 25px;
		}
	}

	&__text {
		margin-bottom: 30px;
		font-size: 18px;
		line-height: 27px;
		color: $color-grey;
		@media (max-width: 576.98px) {
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__row {
		display: flex;
		gap: 10px;
		@media (max-width: 991.98px) {
			flex-wrap: wrap;
		}
	}

	&__url {
		flex: 1 1 355px;
		padding: 16px;
		font-weight: 500;
		font-size: 18px;
		line-height: 27px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		border-radius: 11px;
		color: $color-black;
		@media (max-width: 576.98px) {
			font-size: 14px;
			line-height: 21px;
		}
	}

	&__btn {
		flex: 1 1 auto;
		display: flex;
		align-items: center;
		gap: 12px;
		@media (max-width: 991.98px) {
			justify-content: center;
		}
		@media (max-width: 576.98px) {
			font-size: 16px;
			line-height: 24px;
		}
	}
}
