<section class="faq">
  <div class="faq__container">
    <h3 class="visually-hidden">Ответы на вопросы</h3>
    <ul class="faq__accordeon accordion">
      <li class="accordeon__item open">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Зачем мне покупать
            картину в цифровом формате?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
      <li class="accordeon__item">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Кто получает деньги
            с продажи картины?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
      <li class="accordeon__item">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Что такое
            pre-NFT?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
      <li class="accordeon__item">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Кака я могу купить
            оригинал картины?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
      <li class="accordeon__item">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Вы точно переводите
            деньги фондам?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
      <li class="accordeon__item">
        <button class="accordeon__item-btn" aria-expanded="false"><span class="accordeon__item-text">Зачем мне покупать
            картину в цифровом формате?</span> <img class="accordeon__item-icon" src="@img/icons/arrow-bot.svg" alt=""
            aria-hidden="true"></button>
        <p class="accordeon__item-content" aria-hidden="true">Ответ здесь ответ здесь ответ здесь ответ здесь ответ
          здесь ответ здесь ответ
          здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь ответ здесь.</p>
      </li>
    </ul>
  </div>
</section>