<div class="modal-explanation modal" data-modal='modal-explanation'>
  <div class="modal-explanation__wrapper modal__wrapper">
    <img src="@img/icons/close.svg" alt="" aria-hidden="true" class="modal__close">
    <span class="modal-explanation__title">Что такое pre-NFT?</span>
    <p class="modal-explanation__text modal-explanation__text_mb">В нашей галерее вы покупаете pre-NFT. Это ваучер,
      который гарантирует и
      резервирует за вами NFT выбранной картины. Такой подход позволяет вовлечь больше людей, так как он не требует
      наличие web3 кошелька или криптовалюты, что значительно расширяет число потенциальных благотворителей</p>
    <span class="modal-explanation__title">Как обменять pre-NFT на NFT?</span>
    <p class="modal-explanation__text">
      Это очень просто! Вы сможете обменять pre-NFT на NFT в любой момент, как только будете готовы (например,
      обзаведётесь web3 кошельком). После этого вам необходимо будет:
    <ul class="modal-explanation__text-list">
      <li class="modal-explanation__text-list-item">написать нам письмо на E-mail <a
          class="modal-explanation__text-list-item-link" href="malito:nft@tokendobra.ru">nft@tokendobra.ru</a> с той
        почты, которую
        вы использовали при покупке pre-NFT</li>
      <li class="modal-explanation__text-list-item">в письме указать полученный вами <i
          class="modal-explanation__text-list-item-mark">номер pre-NFT</i></li>
      <li class="modal-explanation__text-list-item">а также указать <i
          class="modal-explanation__text-list-item-mark">адрес web3 кошелька</i>, куда необходимо будет отправить
        выпущенный NFT</li>
    </ul>
    </p>
  </div>
</div>